.hidden {
    display: none !important;
}

.Fix {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
}

.title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 4em;
    text-align: center;
    color: transparent;
    background-color: rgb(212, 5, 5);
    background-image: rgb(0, 58, 165);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
}

.title_header {
    block-size: 100px;
    text-align: center;
    background: linear-gradient( #C61772, #1AE6DA);
}